a {
	text-decoration: none;
	margin-right: 90px;
	margin-left: 30px;
	color: white;
}
.navbar1{
	background: #444444;
	height: 75px;
}
.signInUp{
	margin-left: 84%;
    margin-top: -35px;
}

.contentnavbar{
	margin-top: -50px;
}
.search{
	border-radius: 15px;
}
a:hover{
	color: red;
}
.footer {
	width: all;
	height: 210px;
	background: #444444;
}
h1{
	margin-left: 368px;
    margin-top: -185px;
    color: white;
    font-family:sans-serif;
    padding-bottom: 30px;
}
.icon{
		margin-bottom: 50px;
		margin-left: 270px;
		color: white;
}
i{
	color: white;
	margin-left:  100px;
	margin-right: 300px;	
}
.agora_gym1{
	margin-left: 420px;
	margin-top: -150px;
}
h3{
		padding-bottom: 43px;
		font-size: 20px;
		color: white;
}

.agora_gym2{
	margin-left: 840px;
	margin-top: -150px;
}
.agora_gym3{
	margin-left: 1260px;
	margin-top: -150px;
}



